<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAttachmentLabel" jhiTranslate="greenLightsApp.attachment.home.createOrEditLabel">Create or edit a Attachment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!attachment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="attachment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greenLightsApp.attachment.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="attachment.name"
            required maxlength="64" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greenLightsApp.attachment.path" for="field_path">Path</label>
            <input type="text" class="form-control" name="path" id="field_path"
                [(ngModel)]="attachment.path"
            required maxlength="128" />
            <div [hidden]="!(editForm.controls.path?.dirty && editForm.controls.path?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.path?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.path?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greenLightsApp.attachment.download" for="field_download">Download</label>
            <input type="number" class="form-control" name="download" id="field_download"
                [(ngModel)]="attachment.download"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greenLightsApp.attachment.state" for="field_state">State</label>
            <input type="number" class="form-control" name="state" id="field_state"
                [(ngModel)]="attachment.state"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greenLightsApp.attachment.createTime" for="field_createTime">Create Time</label>
            <div class="d-flex">
                <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="attachment.createTime"
                  />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="greenLightsApp.attachment.content" for="field_content">Content</label>
            <select class="form-control" id="field_content" name="content" [(ngModel)]="attachment.contentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="contentOption.id" *ngFor="let contentOption of contents; trackBy: trackContentById">{{contentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
