<div>
    <h2>
        <span jhiTranslate="greenLightsApp.content.home.title">Contents</span>
        <button class="btn btn-primary float-right create-content-green-lights" [routerLink]="['/', { outlets: { popup: ['content-green-lights-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="greenLightsApp.content.home.createLabel">
            Create new Content
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'greenLightsApp.content.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="greenLightsApp.content.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="source"><span jhiTranslate="greenLightsApp.content.source">Source</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="author"><span jhiTranslate="greenLightsApp.content.author">Author</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cover"><span jhiTranslate="greenLightsApp.content.cover">Cover</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="content"><span jhiTranslate="greenLightsApp.content.content">Content</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="hot"><span jhiTranslate="greenLightsApp.content.hot">Hot</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span jhiTranslate="greenLightsApp.content.state">State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="viewCount"><span jhiTranslate="greenLightsApp.content.viewCount">View Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createTime"><span jhiTranslate="greenLightsApp.content.createTime">Create Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="categoryId"><span jhiTranslate="greenLightsApp.content.category">Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="url"><span jhiTranslate="greenLightsApp.content.url">URL</span><span class="fa fa-sort"></span> </th>
            <th jhiSortBy="location"><span jhiTranslate="greenLightsApp.content.location">Location</span><span class="fa fa-sort"></span> </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let content of contents ;trackBy: trackId">
                <td><a [routerLink]="['../content-green-lights', content.id ]">{{content.id}}</a></td>
                <td>{{content.title}}</td>
                <td>{{content.source}}</td>
                <td>{{content.author}}</td>
                <td>
                    <div *ngIf="content.cover"><img src="{{content.cover}}" height="50px" width="50px"/></div>
                </td>
                <!--<td>{{content.content}}</td>-->
                <td>{{content.hot}}</td>
                <td>{{content.state}}</td>
                <td>{{content.viewCount}}</td>
                <td>{{content.createTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="content.categoryId">
                        <a [routerLink]="['../category-green-lights', content.categoryId  ]" >{{content.categoryName}}</a>
                    </div>
                </td>
                <td>{{content.url}}</td>
                <td>{{content.location}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../content-green-lights', content.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'content-green-lights/'+ content.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'content-green-lights/'+ content.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="contents && contents.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
