<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContentLabel" jhiTranslate="greenLightsApp.content.home.createOrEditLabel">Create
            or edit a Content</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!content.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="content.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greenLightsApp.content.title"
                   for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                   [(ngModel)]="content.title"
                   required maxlength="64"/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength"
                       translateValues="{ max: 64 }">
                    This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greenLightsApp.content.source"
                   for="field_source">Source</label>
            <input type="text" class="form-control" name="source" id="field_source"
                   [(ngModel)]="content.source"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greenLightsApp.content.author"
                   for="field_author">Author</label>
            <input type="text" class="form-control" name="author" id="field_author"
                   [(ngModel)]="content.author"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greenLightsApp.content.cover"
                   for="field_cover">Cover</label>
            <image-upload
                id="field_cover"
                [max]="1"
                [url]="'/api/upload/image'"
                [initFileUrl]="content.cover"
                [buttonCaption]="'选择图片'"
                [dropBoxMessage]="'拖动到此区域'"
                (onUploadUrl)="onUploadUrl($event)"
                (onRemoveUrl)="onRemoveUrl($event)"

            >

            </image-upload>

        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greenLightsApp.content.content" for="field_content">Content</label>
            <ckeditor debounce="500" name="content"
                      id="field_content" [(ngModel)]="content.content"
                      [config]="{
                                filebrowserWindowFeatures: 'resizable=yes,scrollbars=no',
                                filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                                filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?type=Images',
                                filebrowserFlashBrowseUrl: '/ckfinder/ckfinder.html?type=Flash',
                                filebrowserUploadUrl: '/ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Files',
                                filebrowserFlashUploadUrl: '/ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Flash',
                                filebrowserImageUploadUrl: '/ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Images',
                                pasteFromWordPromptCleanup: 'true',
                                extraPlugins: 'uploadimage,image2,embed,colordialog,tableresize,pastefromword,html5video,imagepaste,wordcount,mathjax,pbckcode,pastefromexcel,eqneditor,autosave,preview,find,chart,bgimage,backgrounds,copyformatting,pagebreak',
                                mathJaxLib: '/MathJax-2.7.1/MathJax.js?config=TeX-AMS_HTML'
                                }">

            </ckeditor>
        </div>

        <div class="form-group">
            <label jhiTranslate="greenLightsApp.content.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="content.categoryId">
                <!--<option [ngValue]="null"></option>-->
                <option [ngValue]="categoryOption.id"
                        *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greenLightsApp.content.url"
                   for="field_url">URL</label>
            <input type="text" class="form-control" name="url" id="field_url"
                   [(ngModel)]="content.url"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greenLightsApp.content.location"
                   for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                   [(ngModel)]="content.location"
            />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
